@font-face {
  font-family: 'MartelSans' ;
  src: url(../fonts/Martel_Sans/MartelSans-Bold.ttf);
}

@font-face {
  font-family: 'ElMessiri';
  src: url(../fonts/ElMessiri/ElMessiri.ttf);
}

@font-face {
  font-family: 'Amiri';
  src: url(../fonts/Amiri/Amiri-Bold.ttf);
}

@font-face {
  font-family: 'Lovelace';
  src: url(../fonts/Lovelace/Lovelace-Regular.otf);
}

@font-face {
  font-family: 'LovelaceLight';
  src: url(../fonts/Lovelace/Lovelace-Light.ttf);
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  list-style: none;
  background-color: #fffbf7;
  --webkit-scrollbar: none;
  @media screen and (max-width: 700pc) {
    /* font-size: 0,1em !important; */
  }
}

body::-webkit-scrollbar {
  display: none;
}

.back {
  background: url('https://fs01.getcourse.ru/fileservice/file/download/a/800454/sc/213/h/100fe39a7e23b678b8768f6f7af2f3f4.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
  opacity: 1;
  @media screen and (max-width: 800px) {
    background-position: right -250px bottom 0px;
  }
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  opacity: 0;
  display: none;
}

.backdrop--dark {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 30;
  background-color: #00000090;
  display: none;
}

* {
  box-sizing: border-box;
}

p, ul, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1780px;
  /* padding: 0 40px; */
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  z-index: 20;
  /* border-bottom: 1px solid #d4d7e5; */
  position: fixed;
  top: 0;
  background: rgb(209,239,234);
  /* background: rgb(209,239,234); */
  color: #316d69;
  /* padding-top: 30px; */
}

.nav {
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
  font-weight: 600;
  padding: 0 20px;
  position: relative;
  z-index: 20;
}
.nav__logo-container {
  text-transform: uppercase;
}

.star {
  position: absolute;
  width: 60px;
  bottom: -26px;
  left: 100px;
  @media screen and (max-width:800px) {
    width: 30px;;
    left: 50px;
    bottom: -13px;
  }
}

.wrap {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 800px) {
    padding: 10px 0;
    justify-content: space-between;
  }
}
.coder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
  flex-shrink: 1;
  width: 90%;
  /* height: 50px; */
  @media screen and (max-width: 800px) {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #eaf6f1;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 30px;
  @media screen and (max-width: 800px) {
    display: flex;
  }
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #316d69;
  width: 100%;
}

.mobile-menu {
  display: none;
  font-family: Lovelace;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #d1efea;
  top: 0;
  right: 0;
  margin: 0;
  padding: 40px;
  @media screen and (max-width: 800px) {
    /* display: block; */
  }
}

.mobile__item,
.mobile__items {
  list-style: none;
}

.mobile__item {
  margin: 15px 0;
}

.mobile__item p {
  text-transform: uppercase;
}

.mobile__items {
  padding-left: 20px;
}

.donate-button {
  margin: 0 auto;
  width: 190px;
  text-align: center;
  border: #398087 solid 2px;
  padding: 15px 10px 10px;
  border-radius: 30px;
  background-color: #398087;
  color: #fef7e1;
  text-transform: uppercase;
}

.donate-button:active {
  box-shadow: 3px 3px #316d69;
}

.menu-itemm {
  width: 250px;
  min-width: 100px;
  height: 50px;
  color: #316d69;
  font-size: 19px;
  font-family: 'MaterialSans';
  font-weight: 600;
  list-style: none;
  position: relative;
  z-index: 2;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-shadow: #97cbc4 2px 2px;
  border-radius: 14px;
  line-height: 32px;
  border: 0px;
  background:transparent;
  background-image: -webkit-linear-gradient( rgba(151,203,196), rgba(210,227,217));
  background-image: -moz-linear-gradient(#127009, #3b9932, #409e37);
  background-image: -o-linear-gradient(#127009, #3b9932, #409e37);
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 7px rgba(210,227,217);
  -o-box-shadow: inset 0 0 7px rgba(210,227,217);
  box-shadow: inset 0 0 7px rgba(210,227,217);
  display: block;
  text-decoration: none;
  flex-shrink: 1;
  @media screen and (max-width: 800px) {
    width: 100%; 
  }
}

.menu-itemm:active {
  box-shadow: rgb(209,239,234, 70%) 2px 2px;
  border: rgb(209,239,234) 1px solid;
}

.menu-itemm:before {
  content: ".";
  color:transparent;
  line-height: 22px;
  /* width: 185px; */
  width: 95%;
  margin-top: 0px;
  margin-bottom: -17px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
  background-image:-moz-linear-gradient(rgba(254, 254, 254, 0.9), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  border-radius:16px; 
  display:block;
  /* min-width: 0; */
}

.menu-itemm--big {
  background: linear-gradient(rgba(250, 250, 250), rgba(90, 90, 90, 20%) , rgba(250, 250, 250));
  height: 60px;
  max-width: 200px;
  font-size: 16px;
  line-height: 46px;
  min-width: 100px;
  /* margin-left: 70px; */
}

.menu-itemm--big p {
  font-size: 16px;
}

.menu-itemm--faq {
  line-height: 20px;
}

.logo {
  max-width: 200px;
  height: 120px;
  position: relative;
  @media screen and (max-width: 800px) {
    height: 80px;
  }
}

.logo img {
  height: 100%;
  @media screen and (max-width: 800px) {
    /* position: absolute;
    left: -10px; */
  }
}

.logo svg {
  height: 170px;
  position: absolute;
  top: -33px;
}
.items {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  left: 1.5%;
  top: 50px;
  opacity: 0;
  /* display: none; */
  transition: 0.5s;
  transform: translateY(-50px);
  background-color: rgba(252, 243, 221);
  padding: 2px;
  width: 98%;
  height: 50px;
  overflow: hidden;
  z-index: -1;
  text-align: left;
  border-radius: 9px;
  text-shadow: none;
}

.item {
  padding: 5px;
}

.active {
  transform: translateY(0px);
  opacity: 1;
  overflow: auto;
  height: auto;
  transition: 0.9s;
}
/* .menu-itemm:hover > ul, */


/* .menu-itemm:active > ul,
.menu-itemm:focus > ul {
  transform: translateY(0px);
  opacity: 1;
  overflow: auto;
  height: auto;
  transition: 0.9s;
}

.menu-itemm:hover > ul > li{
  opacity: 1;
  transition: 1;
}

.coder ul ul{
  display: none;
  top: 0;
  left: 100%;
} */

.basmala {
  position: absolute;
  right: 0;
  font-family: Amiri;
  font-size: 16px;
  @media screen and (max-width:800px) {
    font-size: 11px;
  }
}

.basmala_wrap {
  width: 20%;
  /* height: 100%; */
  position: relative;
  list-style: none;
  margin-bottom: 40px;
}

.basmala_wrap--mobile {
  /* height: 100%; */
  position: relative;
  list-style: none;
  display: none;
  align-items: center;
  @media screen and (max-width: 800px) {
    display: flex;
  }
}

.basmala_wrap--mobile .basmala {
  position: relative;
  font-size: 20px;
}


/******Main section******/

.main {
  height: 100vh;
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: flex-end;
  color: #316d69;
  padding: 0 150px 80px 150px;
  @media screen and (max-width: 1200px) {
    gap: 50px;
    width: 100%;
  }
  @media screen and (max-width: 1000px) {
    gap: 30px;
  }
  @media screen and (max-width: 800px) {
    padding: 30px;    
    justify-content: center;
    margin-top: 40px;
    gap: 70px;
  }
}

.main__header {
  color: #316d69;
  font-size: 49px;
  font-family: 'ElMessiri';
  text-transform: uppercase;
  padding-left: 80px;
  @media screen and (max-width: 1200px) {
    font-size: 35px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 25px;
    line-height: 28px;
    padding-left: 50px;
  }
  @media screen and (max-width: 1000px) {
    padding-left: 0px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }
  

}

.main__text {
  font-family: 'ElMessiri';
  font-size: 22px;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.main__text span {
  text-transform: uppercase;
}
.main .menu-itemm,
.start .menu-itemm {
  font-family: 'ElMessiri';
  height: 75px;
  width: 280px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 24px;
  position: relative;
  /* margin: 0 auto; */
  text-shadow: none;
}

.main .menu-itemm span,
.start .menu-itemm span {
  text-transform: lowercase;
}

.button__wrap {
  /* text-align: center; */
  padding-left: 25%;
  @media screen and (max-width: 800px) {
    padding-left: 0;    
  }
}


/***About Us***/

.about_us {
  position: relative;
  padding: 55px;
  background-image: url('../images/png/back.png') contain;
  background-color: #fffbf7;
  @media screen and (max-width:800px) {
    padding: 15px;
  }
}

.about__fon {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: -55px;
}

.about__fon img {
  /* height: 120%; */
  position: absolute;
  right: -402px;
  top: -177px;
  width: 100%;
  z-index: -1;
}

.about__item {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  color:#316d69;
  font-size: 18px;
  font-family: 'Lovelace';
  margin: 35px 0;
  flex-grow: 1;
  @media screen and (max-width:800px) {
    font-size: 14px;
    align-items: flex-start;
  }
}

.about__item p {
  @media screen and (max-width:800px) {
    font-size: 13px;
    width: 100%;
  }
}

.gal__container img {
  height: 100%;
}

.gal__container {
  height: 30px;
}

.about__title {
  font-size: 40px;
  line-height: 40px;
  font-family: 'ElMessiri';
  color: #69c8c3;
  position: relative;
  margin-bottom: 33px;
  @media screen and (max-width:800px) {
    font-size: 20px;
    line-height: 22px;
  }
}
.hiya {
  position: absolute;
  max-height: 50px;
  @media screen and (max-width: 800px) {
    max-height: 30px;
  }
}

.about__subtitle {
  font-size: 17px;
  font-family: 'Lovelace';
  color: #316d69;
  text-transform: uppercase;
  margin-bottom: 75px;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
  }
}

.about__video {
  /* border: #69c8c3 solid 4px; */
  border-radius: 30px;
  /* padding: 50px; */
  max-width: 50%;
  height: 90vh;
  color: #316d69;
  font-size: 49px;
  text-align: center;
  font-family: 'ElMessiri';
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    font-size: 16px;  
    width: 70%;
    max-width: 80%;
    height: auto;
  }
}

.video {
  background-position: center;
  background-size: cover;
  /* width: 88.8%; */
  height: 100%;
  margin: 0 auto;
  /* width: 102%; */
  transition: 1s;
  object-fit: cover; 
  display: block;
  position: relative;
  @media screen and (max-width: 800px) {
    height: auto;width: 102%;
  }
}

/* .video-title {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 10;
  top: 0;
  left: 0;
} */
/* .about__video img {
  position: absolute;
  bottom: -41px;
  max-height: 80px;
  left: calc(50% - 100px)
} */


/*Students*/

.students {
  padding: 55px;
  padding-bottom: 100px;
  background-color: #fffbf7;
  @media screen and (max-width:800px) {
    padding: 15px;
  }
}

.students__says,
.students__post {
  color:#316d69;
  font-family: Lovelace;
  font-size: 25px;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.students__post {
  padding-left: 80%;
  @media screen and (max-width: 800px) {
    padding-left: 0;
    text-align: right;
    font-size: 16px;
  }
}

.students__words {
  color:#316d69;
  font-family: ElMessiri;
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0 15px;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.students__flex {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  @media screen and (max-width: 800px) {
   display: block;
  }
}

.student {
  width: 33%;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
   width: 100%;
   border: #026060 2px dotted;
   border-radius: 30px;
   margin-bottom: 30px;
   padding: 15px;
  }
}
.student__button {
  /* max-width: 462px; */
  width: 100%;
  height: 180px;
  position: relative;
  background-image: url('../images/png/buttonstud.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    width: 80%;
    height: 110px;
    margin: 0 auto;
  }
}

/* .student__button img {
  width: 100%;
  z-index: -1;
} */

.student__button-text {
  /* position: absolute;
  top: 40px;
  left: 60px; */
  text-align: center;
  font-size: 26px;
  font-family: Lovelace;
  color: #026060;
  font-weight: bold;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.student__button-text span {
  text-transform: uppercase;
}

.students__photo {
  border-top-left-radius: 600px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  transform: rotate(5deg);
  @media screen and (max-width: 800px) {
    display: none;    
  }
}
.students__photo img {
  width: 100%;
}

.student__text {
  font-size: 20px;
  font-family: Lovelace;
  color: #316d69;
  line-height: 40px;
  text-align: center;
  margin-top: 40px;
  @media screen and (max-width:800px) {
    font-size: 14px;
    line-height: 15px;
    margin-top: 20px;
  }
}

/*start*/

.start {
  padding: 55px;
  background-image: url('../images/png/backflower.png');
  background-size: 130% 132%;
  background-position-y: -26px ;
  background-repeat: no-repeat;
  @media screen and (max-width:800px) {
    padding: 15px;
    background-position-y: 318px;
    background-position-x: -100px;
    background-size: 80% 80%;
    background-image: url('../images/png/mainflowers.png');
  }
}

.start__welcome {
  font-family: Lovelace;
  font-size: 25px;
  color: #316d69;
  margin-bottom: 40px;
  font-weight: 600;
  @media screen and (max-width:800px) {
    font-size: 16px;
  }
}

.start__button-wrap {
  display: flex;
  justify-content: flex-end;
  padding-right: 250px;
  margin-bottom: 120px;
  @media screen and (max-width: 800px) {
    padding-right: 0;
  }
}

.start__arab-text {
  font-size: 28px;
  font-family: Amiri;
  color: #316d69;
  text-align: center;
  margin-bottom: 20px;
}

.start__translate {
  color: #316d69;
  font-family: Lovelace;
  font-size: 18px;
  text-align: center;
  margin-bottom: 80px;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.address {
  display: flex;
  gap: 14px;
  padding: 0 30%;
  margin-bottom: 10px;
  /* justify-content: center; */
  @media screen and (max-width: 800px) {
    padding: 0 20px;
    padding-left: 100px;
  }
}

.contacts__icon {
  width: 30px;
  height: 30px;
  @media screen and (max-width:800px) {
    width: 20px;
  }
}

.contacts__icon img {
  width: 100%;
}

.address__address {
  font-family: El-Messiri;
  color: #316d69;
  font-size: 21px;
  @media screen and (max-width:800px) {
    font-size: 12px;
  }
}

.address__address a {
  color: inherit;
}

.address__title {
  font-size: 24px;
  font-family: El-Messiri;
  color: #316d69;
  font-weight: 700;
  @media screen and (max-width:800px) {
    font-size: 12px;
  }
}

.address__text {
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}


/*Footer*/

.footer {
  height: 72px;
  background-color: #d1efea;
  padding: 18px;
}

.footer__flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  @media screen and (max-width: 800px) {
    justify-content: space-between;
  }
}

.footer__icon img {
  height: 40px; 
}

.footer__mahada {
  margin-left: 40px;
  font-family: ElMesseri;
  font-size: 25px;
  color: #316d69;
  letter-spacing: 2px;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

/*Страница О нас - МА'ХАД*/

.mahad {
  padding: 200px 100px 100px;
  @media screen and (max-width: 800px) {
    padding: 120px 20px 20px;    
  }
}

.mahad__block {
  background-color: rgba(209, 239, 234, 0.27);;
  border-radius: 30px;
  padding: 30px 90px 60px 90px;
  position: relative;
  margin-bottom: 100px;
  @media screen and (max-width: 800px) {
    padding: 25px; 
    margin-top: 20px;   
  }
}

.mahad__title {
  color: #69c8c3;
  font-family: ElMessiri;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
  line-height: 38px;
  @media screen and (max-width: 800px) {
    margin: 0;
    font-size: 25px;
    line-height: 25px;
  }
}

.flower {
  width: 200px;
  position: absolute;
  @media screen and (max-width: 800px) {
    width: 80px;    
  }
}

.flower-top {
  transform: rotate(180deg);
  top: -46px;
  left: calc(50% - 100px);
  @media screen and (max-width: 800px) {
    top: -18px;
    left: calc(50% - 50px);
  }
}

.flower-left {
  transform: rotate(90deg);
  left: -98px;
  top: 30%;
  @media screen and (max-width: 800px) {
    left: -38px;
  }
}

.flower-right {
  transform: rotate(90deg);
  right: -98px;
  top: 60%;
  @media screen and (max-width: 800px) {
    right: -38px;
  }
}

.flower-bottom {
  left: calc(50% - 100px);
  bottom: -46px;
  @media screen and (max-width: 800px) {
    bottom: -18px;
    left: calc(50% - 50px);
  }
}

.flower-top--right {
  left: 70%;
  transform: rotate(0deg);
}

.flower-top--left {
  left: 20%;
  transform: rotate(180deg);
}

.mahad__text,
.mahad__text-trio {
  margin: 10px 0;
  font-size: 18px;
  font-family: Lovelace;
  color: #316d69;
  padding: 0 100px;
  @media screen and (max-width: 800px) {
    padding: 0 20px; 
    font-size: 14px;   
  }
}

.mahad__text-trio {
  margin: 30px 0;
  list-style-image: url('../images/png/liststyle1.png');
  padding: 0;
}

.mahad__items-trio {
  padding: 0 100px;
  @media screen and (max-width: 800px) {
    padding: 0 20px;    
  }
}
.mahad__items {
  padding-left: 40px;
  font-size: 18px;
  font-family: Lovelace;
  color: #316d69;
  @media screen and (max-width:800px) {
    font-size: 14px;
    padding-left: 10px;
  }
}

.mahad__subtitle {
  font-weight: 700;
  margin: 30px 0;
}

.name__flex-box {
  display: flex;
  margin: 40px 0;
  @media screen and (max-width: 800px) {
    display: block;
 }
}

.name__flex-box .logo img {
  padding-left: 40px;
  @media screen and (max-width: 800px) {
    width: 100%;
    padding-left: 0;
  }
}

.name__flex-box .logo {
  @media screen and (max-width: 800px) {
    height: auto;
    margin-left: calc(50% - 100px);
  }
}

.name__logo-text {
  font-size: 9px;
  font-family: ElMessiri;
  text-transform: uppercase;
  width: 200px;
}

.name__text-block .mahad__text {
  padding: 0;
}

.name__button {
  font-family: Lovelace;
  font-size: 28px;
  font-weight: 600;
  color: #026060;
  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
}

.name__button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: #eaf6f1;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  /* padding: 10px 30px; */
  @media screen and (max-width: 800px) {
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
  }
}

.name__text-block .mahad__item {
  margin-bottom: 16px;
}


.main__header30 {
  font-size: 30px;
  text-align: center;
  @media screen and (max-width:800px) {
    font-size: 18px;
  }
}

.total-items__block {
  border: #69c8c3 solid 3px;
  border-radius: 30px;
  padding: 20px 20px 50px 20px;
  margin-top: 40px;
  position: relative;
}

.total-items__block .about__items {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.total-items__block .about__item {
  margin: 0;
}


.name__icon {
  width: 60px;
  position: absolute;

}

.name__title {
  font-family: Lovelace;
  font-size: 30px;
  color:#026060;
  position: relative;
  @media screen and (max-width:800px) {
    font-size: 18px;
    margin-top: 10px;
  }
}


/*Mission*/

.mission {
  padding: 150px 30% 50px 60px;
  background-image: url('../images/png/mission.png');
  background-size: cover;
  @media screen and (max-width: 800px) {
    padding: 120px 30px 30px;  
    background-image: none;
  }
}

.mission__hadis-block {
  position: relative;
  height: 200px;
}

.mission__kruglyash {
  width: 220px;
  margin-top: 20px;
  margin-bottom: -20px;
  display: none;
  @media screen and (max-width: 800px) {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
  }
}

.mission__kruglyash img {
  width: 100%;
}

.mission__text {
  font-family: Lovelace;
  font-size: 18px;
  color:#316d69;
  font-weight: 600;
  margin-top: 10px;
  @media screen and (max-width:800px) {
    font-size: 14px;
    font-weight: 400;
  }
}

.mission__flex {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
  gap: 10px;
  @media screen and (max-width:800px) {
   margin-top: 10px;
  }
}

.gal__icon,
.mission__icon {
  width: 30px;
  margin: 0;
  padding: 0;
}

.mission .gal__icon {
  @media screen and (max-width:800px) {
    display: none;
  }
}

.mission__item {
  position: relative;
  padding-left: 30px;
  margin-left: 60px;
  @media screen and (max-width:800px) {
    margin-left: 0;;
  }
}
.mission__icon {
  position: absolute;
  /* bottom: 0px; */
  top: 3px;
  left: 0;
}

.mission__text--bottom {
  margin-top: 40px;
  @media screen and (max-width:800px) {
    margin-top: 10px;
   }
}

.mission__text--blue {
  text-align: right;
  color: #69c8c3;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  @media screen and (max-width:800px) {
    font-size: 12px;
  }
}

.mission__text--bold {
  font-weight: 600;
  font-family: ElMessiri;
  font-size: 20px;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.mission__text--block {
  margin-top: 30px;
}

.mission__items {
  padding-left: 40px;
}

/*Our Student*/

.our-student {
  padding: 150px 40px 40px 40px;
  background-image: url('../images/png/ourstudent.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom -60px right -300px;
  @media screen and (max-width: 800px) {
    padding: 120px 30px 30px;   
    background-position: bottom -20px right -100px;
  }
}

.our-student .main__header {
  font-size: 42px;
  line-height: 42px;
  @media screen and (max-width: 800px) {
    font-size: 30px;
    line-height: 30px;
    font-size: 25px;
  }
}

.our-student__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  width: 70%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.our-student__item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.hiya50 {
  width: 50px;
  @media screen and (max-width:800px) {
    width: 30px;
  }
}
.hiya20 {
  width: 30px;
}

.hiya30 {
  width: 30px;
}

.our-student__text {
  font-size: 18px;
  font-family: Lovelace;
  color: #398087;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

/*Ustaza Iman*/

.ustaza {
  padding: 150px 40px 40px 40px;
  @media screen and (max-width: 800px) {
    padding: 120px 30px 30px;    
  }
}

.ustaza__flex {
  display: flex;
  gap: 50px; 
  align-items: flex-end;
  justify-content: center;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.ustaza__block {
  width: 300px;
  position: relative;
  background-color: #eaf6f1;
  padding: 150px 15px 15px;
  margin-top: 150px;
  color:#316d69;
  font-family: Lovelace;
  font-weight: 600;
  text-align: center;
  @media screen and (max-width: 800px) {
    width: 100%;   
    margin-top: 80px; 
    padding-top: 90px;
  }
}

.ustaza__pict {
  width: 250px;
  position: absolute;
  top: -120px;
  left: 22px;
  @media screen and (max-width: 800px) {
    left: calc(50% - 75px);
    top: -75px;
    width: 150px;
  }
}

.ustaza__pict img {
  width: 100%;
}

.ustaza__name {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.ustaza__subname {
  font-size: 20px;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.ustaza__subname img {
  position: absolute;
}

.ustaza__course {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
  font-size: 19px;
  width: fit-content;
}
.ustaza__courses {
  width: fit-content;
  margin: 0 auto;
}

.ustaza__collab {
  font-family: Lovelace;
  color: #316d69;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
}


.book-icon {
  width: 20px;
  height: 22px;
}

.book-icon img {
  width: 100%;
}

.shlyapa {
  width: 45px;
}

.ustaza__education {
  font-family: Lovelace;
  font-size: 18px;
  color: #316d69;
  align-items: center;
  width: 55%;
  margin-bottom: 20px;
  @media screen and (max-width: 800px) {
    width: 100%;
    background-color: #eaf6f1;   
    padding: 20px; 
    font-size: 14px;
  }
}

.education__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.education__item {
  /* margin-bottom: 20px; */
  text-align: center;
  font-weight: 400 !important;
}

.education__item span {
  font-weight: 600;
  font-size: 30px;
}

.education__text {
  text-align: center;
  font-weight: 600;
}


/*Ustazy*/

.ustazy {
  padding: 50px 40px 40px 40px;
}

.ustazy__flex {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 60px;
  @media screen and (max-width: 800px) {
    display: block;   
  }
}

.ustaza__years {
  font-weight: 600;
  font-size: 19px;
}

.shlyapa__wrap {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*Format*/

.format {
  padding: 150px 50px 50px 50px;
  font-family: Lovelace;
  color: #316d69;
  font-size: 20px;
  @media screen and (max-width: 800px) {
    padding: 120px 20px 20px;    
  }
}

.format__text {
  margin: 10px 0;
  @media screen and (max-width: 800px) {
    font-size: 14px;  
  }
}

.format__text--right {
  text-align: right;
  @media screen and (max-width: 800px) {
    text-align: left;  
  }
}

.format__text--center {
  text-align: center;
  font-weight: 600;
  width: 80%;
  @media screen and (max-width: 800px) {
    width: 100%;
    text-align: left;
  }
}

.format__students {
  margin-top: 80px;
  margin-bottom: 60px;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.format__students-wrap {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 156px;
}

.stud-flower {
  position: absolute;
  width: 120px;
  transform: rotate(90deg);
  left: calc(50% - 60px);
  @media screen and (max-width: 800px) {
    width: 60px;
    left: calc(50% - 30px);   
  }
}

.stud-border {
  position: absolute;
  z-index: -1;
  height: 100px;
}

.format__students-text-btn--left,
.format__students-text-btn--right {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.format__book {
  width: 40px;
}

.format__title {
  display: flex;
  font-size: 26px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @media screen and (max-width: 800px) {
    font-size: 20px;    
  }
}

.student-osn,
.student-ind {
  display: flex;
  margin-top: 60px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.student-osn__desc {
  width: 65%;
}
.student-ind__desc {
  width: 70%;
}

.student-osn__picture {
  width: 35%;
}

.student-ind__picture {
  width: 30%;
  @media screen and (max-width: 800px) {
    order: -1;

  }
}

.student-osn__desc,
.student-ind__desc,
.student-osn__picture,
.student-ind__picture {
  width: 100%;
}

.student-osn__picture img,
.student-ind__picture img {
  width: 100%;
}

.format__block {
  background-color: #d1efea71;
  padding: 20px 12px;
  border-radius: 14px;
  margin: 30px 0;
  font-size: 18px;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.format__block-item {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.format__block-text {
  width: 100%;
}

.gal30 {
  width: 30px;
  height: 28px;
}

.start-button .menu-itemm {
  font-family: 'ElMessiri';
  height: 75px;
  width: 280px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 24px;
  position: relative;
  /* margin: 0 auto; */
  text-shadow: none;
}

.format__flower,
.sm-flower {
  width: 200px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 800px) {
    width: 100px;
  }
}

.sm-flower {
  width: 100px;
}

.format__flower img {
  width: 100%;
}

.format__button-block {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.line-cross-flower,
.sm-line-cross-flower  {
  height: 5px;
  width: 200%;
  position: absolute;
  background-color: #69c8c3;
  top: 46%;
  left: -50%;
  z-index: -1;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.sm-line-cross-flower {
  height: 1px;
  background-color: #398087;
}

.format__hadis {
  width: 80%;
  text-align: center;
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-top: 60px;
  }
}

.hadis {
  color: #69c8c3;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.hadis__arab-text,
.hadis__description {
  font-weight: 600;
  font-size: 28px;
  font-family: Amiri;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.hadis__post {
  font-size: 16px;
  font-weight: 400;
}

.hadis__pretext {
  @media screen and (max-width: 800px) {
    text-align: left;
  }
}


/*Price*/

.price,
.faq,
.process,
.programm,
.books,
.schedule,
.rules,
.review,
.support-project {
  padding: 150px 50px 50px 50px;
  color:#316d69;
  position: relative;
  @media screen and (max-width: 800px) {
    padding: 120px 20px 20px;    
  }
}

.price .main__subtitle {
  padding-left: 80px;
  font-family: ElMessiri;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.price__picture {
  position: absolute;
  width: 400px;
  right: -80px;
  @media screen and (max-width: 800px) {
    opacity: 0.2;
    right: 0;
  }
}

.price__picture img {
  width: 100%;
}

.table {
  border: 2px solid #316d697c;
  border-collapse: collapse;
  width: 70%;
  font-family: ElMessiri;
  margin-bottom: 60px;
  margin-top: 20px;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.line {
  /* height: 50px; */
  border: 2px solid #316d697c;
}

.column--long {
  width: 70%;
}

.column,
.column-price {
  width: 15%;
  border: 2px solid #316d697c;
} 

.column-price {
  font-size: 22px;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.table-flower {
  width: 80px;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.table-title {
  display: flex;
  font-size: 22px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  color: #69c8c3;
  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.table__course {
  font-weight: 600;
  text-align: left;
  padding-left: 13px;
  font-size: 19px;
  @media screen and (max-width: 800px) {
    font-size: 15px;
  }
}

.table__description {
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
  @media screen and (max-width: 800px) {
    font-size: 11px;
  }
}

.price__text {
  font-family: Lovelace;
  font-weight: 600;
  font-size: 14px;
}

.price__item {
  margin: 10px 0;
}

.price__button {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

/*support*/

.support {
  font-family: Lovelace;
}

.support__title {
  font-size: 25px;
  margin-bottom: 40px;
  @media screen and (max-width: 800px){
    font-size: 18px;
  }
}

.support__block {
  width: fit-content;
}

.support__block--right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-end;
  margin: 30px 0;
  @media screen and (max-width: 800px){
    width: 300px;
    margin: 0 auto;
  }
}

#apply {
  text-shadow: none;
  font-family: ElMessiri;  
}

/*FAQ*/

.faq {
  background-image: url('../images/png/faqback.png');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: left -50px top -200px;
  @media screen and (max-width: 800px){
    background-position: left -130px top -80px;
    background-size: 200%;
    background-image: none;
  }
}

.accordion {
  font-family: Lovelace;
  width: 70%;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-top: 10px;
  }
}

.accordion-item {
  margin-bottom: 15px;
  position: relative;
}

.accordion-item__trigger {
  padding: 20px;
  font-weight: 600;
  /* border: 1px solid #d1efea87; */
  display: flex;
  justify-content: space-between;
  gap: 2px;
  border-radius: 30px;
  background-color: #d1efea87;
  position: relative;
}

.accordion-item__trigger-text {
  width: 100%;
}

.accordion-item__content {
  padding: 20px;
  /* border: 1px solid #d1efea87; */
  background-color: #d1efea87;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top: none;
  display: none;
}

.accordion-item__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.accordion-item__input:checked ~ .accordion-item__trigger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 0;
}

.accordion-item__input:checked ~ .accordion-item__content {
  display: block;
  padding-top: 5px;
}

.accord-icon {
  width: 25px;
  /* position: absolute; */
  right: 17px;
  top: 15px;
}

/*Process*/

.process {
  background-image: url('../images/png/process.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lovelace;
  @media screen and (max-width: 800px) {
    background-position: right -300px bottom 0px ;
  }
}

.process__main-flex {
  display: flex;
  gap: 40px;
  margin: 60px 0;
  @media screen and (max-width: 800px) {
    display: block;
    margin-top: 20px;
  }
}

.process__block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-top: 30px;
  }
}

.process__item {
  background: #fffbf7;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
  text-align: left;
  position: relative;
}

.process__text18 {
  font-weight: 600;
  font-size: 18px;
  @media screen and (max-width: 800px) {
    font-size: 14px;
  }
}

.process__text15 {
  font-size: 15px;
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}

.process__text--blue {
  font-size: 17px;
  font-weight: 600;
  color: #69c8c3;
}

.process__arrow {
  position: absolute;
  width: 53px;
  top: -44px;
  right: -29px;
}


@keyframes one {
  from {opacity: 0;}
  to {opacity: 1;}
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
  opacity: 0;
  animation-name: one;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#one {
  animation-delay: 1s;
}

#two {
  animation-delay: 2s;
}

#three {
  animation-delay: 3s;
}

#four {
  animation-delay: 4s;
}

#five {
  animation-delay: 5s;
}
#six {
  animation-delay: 6s;
}
#seven {
  animation-delay: 7s;
}
#eight {
  animation-delay: 8s;
}

/*Programm*/
.programm {
  font-family: Lovelace;
}
.programm__main-block {
  position: relative;
  border: #316d69 solid 2px;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (max-width: 800px) {
    display: none;
    margin-top: 30px;
    padding: 30px 5px;
    gap: 8px;
  }
}

.programm__main-block--mobile {
  display: none;
  @media screen and (max-width: 800px) {
    display: flex;
    padding: 8px;
  }
}

.programm__flex {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
    gap: 25px;
  }
  
}

.programm__flower {
  position: absolute;
  width: 150px;
  @media screen and (max-width: 800px) {
    width: 50px;
  }
}

.flower-top-right {
  right: 0;
  top: -34px;
  @media screen and (max-width: 800px) {
    top: -13px
  }
}

.flower-top-right-p {
  right: 0;
  top: -34px;
  @media screen and (max-width: 800px) {
    top: -13px
  }
}

.flower-left-bottom-p {
  rotate: 90deg;
  left: -76px;
  bottom: 40px;
  @media screen and (max-width: 800px) {
    left: -25px;
    rotate: 90deg;
  }
}

.flower-left-bottom {
  rotate: 90deg;
  left: -76px;
  bottom: 40px;
  @media screen and (max-width: 800px) {
    left: -25px;
    rotate: 90deg;
  }
}

.smallstar {
  width: 25px;
}

.pb__semestr {
  @media screen and (max-width: 800px){
    width: 48%;
  }
  @media screen and (max-width: 600px){
    width: 43%;
  }
}

.pb__semestr-title {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 20px;
  font-weight: 600;
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
} 

.pb__semestr-time {
  font-size: 15px;
  @media screen and (max-width: 800px) {
    font-size: 10px;
  }
}

.programm__items {
  font-weight: 600;
  padding-left: 40px;
  @media screen and (max-width: 800px) {
    padding-left: 10px;
  }
}

.programm__item {
  font-size: 12px;
}

.programm__text--bold {
  margin: 25px 0;
  font-weight: 600;
}

.programm__text-items {
  padding-left: 40px;
  margin: 5px 0;
}

.center {
  margin-bottom: 0;
  text-align: center;
}

.programm__flex-title .programm__text--bold {
  margin: 0;
  text-align: center;
}

.mar30 {
  margin: 30px 0;
}

.program__flex-text {
  position: relative;
  width: 50%;
}

.program__flex-text,
.programm__flex-title {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.program__flex-text-block-for-dotts {
  display: flex;
}

.dotts__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
}

.dotts__block-line {
  position: absolute;
  height: calc(100% - 22px);
  width: 2px;
  left: 47%;
  background-color: #316d69;
}

.programm__dott {
  background-color: #316d69;
  height: 15px;
  width: 15px;
  border-radius: 50%;

}

.programm__flex-title {
  text-align: center;
}

.program__flex-text-block {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-left: 15px;
}
.programm__text15 {
  text-transform: uppercase;
  font-size: 15px;
}

.dottline {
  height: 120px;
  position: absolute;
  @media screen and (max-width: 1300px) {
    height: 190px;    
  }
  @media screen and (max-width: 800px) {
  }
}

.programm__note {
  margin: 40px 0 20px;
}

.sm-accordion {
  font-family: Lovelace;
  /* width: 70%; */
  margin: 0 auto;
}

.sm-accordion-item {
  margin-bottom: 15px;
  position: relative;
}

.sm-accordion-item__trigger {
  font-weight: 600;
  display: block;
  position: relative;
}

.sm-accordion-item__content {
  /* padding: 30px; */
  border: 2px solid #398087;
  /* background-color: #d1efea87;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  display: none;
  margin-top: -28px;
}

.sm-accordion-item__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sm-accordion-item__input:checked ~ .sm-accordion-item__trigger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 0;
}

.sm-accordion-item__input:checked ~ .sm-accordion-item__content {
  display: block;
  padding-top: 5px;
}

.sm-accordion-item__trigger .menu-itemm {
  margin: 0 auto;
}

.semestr__flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.semestr__flex-horizontal {
  display: flex;
  gap: 20px;
}

.semestr__flex-image {
  width: 10%;
  @media screen and (max-width:800px) {
    width: 30%;
  }
}

.semestr__flex-image img {
  width: 100%;
}

.semestr__flex-description {
  width: 90%;
}

.description__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.description__text {
  margin-bottom: 10px;
}

.description__items {
  padding-left: 40px;
  @media screen and (max-width:800px) {
    padding-left: 10px;
  }
}

/*books*/

.books {
  font-family: Lovelace;
  background-color: #d1efea27;
  background-image: url('../images/png/booksback.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top -80px right -300px;
}

.books__table {
  /* background-color: #d1efea27; */
  padding: 10px;
  border-radius: 30px;
  border-collapse: collapse;  
  text-align: left;
  width: 80%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.books__row {
  border-bottom: 2px #316d6956 solid;
}

.books__name {
  font-size: 20px;
  font-weight: 600;
  border-right: 2px #316d6956 solid;
  padding: 10px 10px 10px 30px;
  @media screen and (max-width:800px) {
    font-size: 14px;
    padding: 6px;

  }
}

.books__description {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.books__text--bold {
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  width: 70%;
}


/*Raspisanie*/

.schedule {
  font-family: Lovelace;
  padding-bottom: 80px;
  position: relative;
  background-image: url('../images/png/laptop.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: bottom -20px right -20px;
}

.schedule .main__header {
  @media screen and (max-width: 800px) {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.schedule__main {
  width: fit-content;
  margin: 0 auto;
}

.schedule__title {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.schedule__flex {
  display: flex;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: flex-start;
  /* justify-content: flex-start; */
  @media screen and (max-width: 800px) {
    flex-wrap: nowrap;
    gap: 10px;
  }
  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
  }
}

.schedule__day {
  background-image: url('../images/png/stick.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 20px 30px;
  position: relative;
  width: 200px;
  height: 211px;
  @media screen and (max-width: 1000px) {
    width: 170px;
  }
  @media screen and (max-width: 850px) {
    width: 150px;
    height: auto;
  }
  @media screen and (max-width: 650px) {
    width: 47%;
    padding: 10px;

  }
}

.schedule__weekday {
  font-size: 25px;
  border-bottom: 1px solid #69c8c3;
  padding: 0 15px;
  text-align: center;
  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }
}

.schedule__course {
  font-size: 22px;
  text-align: center;
  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.schedule__course--lvl {
  font-size: 10px;
}
.schedule__teacher {
  color: #69c8c3;
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  margin-right: 30px;
  @media screen and (max-width: 800px) {
    margin-top: 10px;
    margin-right: 0;
  }
}

.schedule__time {
  font-size: 25px;
  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.schedule__flower {
  position: absolute;
  width: 160px;
  top: -77px;
  left: -72px;
  @media screen and (max-width: 650px) {
    width: 80px;
    left: -32px;
    top: -39px;
  }
}

.schedule__text {
  margin: 10px 0;
  width: 80%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}


/*Rules*/

.rules {
  font-family: Lovelace;
  background-image: url('../images/png/rulesback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -30px right -330px;
  @media screen and (max-width: 800px) {
    background-image: none;
  }
}

.rules__main-block {
  display: flex;
  gap: 40px;
  margin-top: 25px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 30px;
  }
}

.rules__flex {
  display: flex;
  flex-direction: column;
  gap:30px;
  width: 49%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.rules__item {
  display: flex;
  gap: 10px;
}

.rules__flower {
  position: relative;
  width: 12%;
}

.rules__flower img {
  width: 70px;
  transform: rotate(90deg);
  position: absolute;
  left: 0;
  top: 20px;
  @media screen and (max-width: 800px) {
    left: -30px;
  }
}

.rules__text {
  width: 88%;
  font-size: 14px;
}

/*review*/

.review {
  font-family: Lovelace;
}

.review__slide {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    margin-top: 50px;
  }
}

.review__image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.image-one {
  background-image: url('../images/png/one.jpg');
}

.image-two {
  background-image: url('../images/png/two.jpg');
}

.image-three {
  background-image: url('../images/png/three.jpg');
}

.image-four {
  background-image: url('../images/png/four.jpg');
}

.image-five {
  background-image: url('../images/png/five.jpg');
}

.image-six {
  background-image: url('../images/png/six.jpg');
}

.image-seven {
  background-image: url('../images/png/seven.jpg');
}

.image-eight {
  background-image: url('../images/png/eight.jpg');
}

.image-nine {
  background-image: url('../images/png/nine.jpg');
}

.image-ten {
  background-image: url('../images/png/ten.jpg');
}

.image-eleven {
  background-image: url('../images/png/eleven.jpg');
}

.image-twelve {
  background-image: url('../images/png/twelve.jpg');
}

.review__text {
  font-weight: 600;
  width: 50%;
  position: relative;
  @media screen and (max-width: 800px) {
    width: 85%;
    font-size: 12px;
    
  }
}

.review__ps {
  color: #69c8c3;
  font-weight: 600;
}

.quote-top,
.quote-bottom {
  position: absolute;
  width: 20px;
}

.quote-top {
  top: -10px;
  left: -20px;
}

.quote-bottom {
  bottom: 0px;
  right: 0px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}


/*Modal Anketa*/

.form__modal {
  left: calc(50% - 400px);
  top: calc(50% - 40vh);
}

.success {
  /* display: block !important; */
  left: calc(50% - 400px);
  top: calc(50% - 40vh);
  text-align: center;
}

.form__modal,
.success {
  position: relative;
  display: none;
  z-index: 40;
  width: 80vw;
  background-color: #fffbf7;
  border-radius: 20px;
  position: fixed;
  padding: 30px 40px;
  font-family: Lovelace;
  color: #316d69;
  max-width: 800px;
  @media screen and (max-width: 1000px) {
    left: calc(50% - 40vw);
  }
  @media screen and (max-width: 800px) {
    width: 100vw;
    height: 100vh;
    /* height: fit-content; */
    top: 0;
    left: 0;
    border-radius: 0;
    /* overflow: scroll; */
  }
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  gap: 2px;  */

  @media screen and (max-width: 1000px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media screen and (max-width: 800px) {
    font-size: 22px;
    line-height: 34px;
  }
}

.form__title .span {
  color: #69c8c3;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.modal-close,
.menu__close {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  margin-left: auto;
  width: 32px;
  height: 32px;
  padding: 6px;
  cursor: pointer;
}

.modal-close span,
.menu__close span {
  display: block;
  position: absolute;
  right: 2px;
  top: 15px;
  width: 27px;
  height: 2px;
  background: #69c8c3;
}

.modal-close span:nth-child(1),
.menu__close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2),
.menu__close span:nth-child(2)  {
  transform: rotate(-45deg);
}

.menu__close {
  display: none;
  @media screen and (max-width: 800px) {
    display: flex;
  }
}

.modal__content {
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal__content::-webkit-scrollbar {
    display: none;
  }

.form {
  margin: 20px 0;
}

.form__flower {
  width: 100px;
  position: absolute;
  right: -20px;
  bottom: 50px;
}

.form__flower img {
  width: 100%;
  transform: rotate(90deg);
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.form__button {
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  margin-top: 30px;
  margin-left: 450px;
  @media screen and (max-width: 1000px) {
    margin-left: calc(80vw - 350px);
  }
  @media screen and (max-width: 800px) {
    margin-left: 0;
  }

}

.form .menu-itemm::before {
  margin-top: -13px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.form__input {
  display: block;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  font-size: 18px;
  font-family: Lovelace;
  background-color: #fffbf7;
  /* color: #00000020; */
  color: #316d69;
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}

.form__text {
  font-size: 12px;
}

.form__input--small::-webkit-input-placeholder {
  font-size: 12px;
}

.form__label {
  margin-top: 40px;
}

.checkbox {
  margin-top: 40px;
}

.success__flower {
  width: 200px;
  margin: 0 auto;
  @media screen and (max-width:800px) {
    width: 150px;
    margin-bottom: 30px;
  }
}

.success__title {
  font-size: 28px;
}

.success__text {
  font-size: 18px;
  margin-bottom: 40px;
  @media screen and (max-width:800px) {
    font-size: 14px;
  }
}

.success__flower img {
  width: 100%;
}

.is-active {
  display: block;
}

/*support the project*/

.support-project {
  font-family: Lovelace;
  background-image: url('../images/png/support.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #02606060;
  margin-top: 120px;
  padding: 40px 50px 50px 50px;
  position: relative;
  @media screen and (max-width: 800px) {
    background-image: none;
    background-color: #fffbf7;
    margin-top: 80px;
  }
}

.support-project .main__header {
  text-align: center;
  padding-left: 0;
}

.support-project__flex {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 30px 0 60px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 30px;
  }
}

.support-project__item {
  background-color: #fef7e1;
  border: #69c8c3 2px solid;
  border-radius: 30px;
  padding: 10px 40px 10px 20px;
  position: relative;
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px 10px 10px;
  }
}

.support-project__item-title {
  text-align: center;
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}

.support-project__item-title span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

.finger {
  position: absolute;
  width: 70px;
  right: -31px;
  bottom: -44px;
  @media screen and (max-width: 800px) {
    width: 40px;
    right: -12px;
    bottom: -13px;
  }
}

.bold {
  font-weight: 600;
}

.support-project__text {
  text-align: center;
  @media screen and (max-width: 800px) {
    text-align: left;
    margin-bottom: 15px;
  }
}

.support-project__text--blue {
  color: #69c8c3;
  text-align: right;
  margin: 10px 0;
}

.support-project__text--right {
  width: 80%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.support-project__right-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 30px;
  margin-right: 50px;
  @media screen and (max-width: 800px) {
    margin-right: 0;
  }
}

.support-project__flower {
  width: 100px;
  position: absolute;
  right: -30px;
  bottom: 30px;
  transform: rotate(90deg);
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.support-project__flower img {
  width: 100%;
}

.chose-cart__modal {
  display: none;
  position: fixed;
  width: 60vw;
  left: calc(50% - 300px);
  top: calc(50vh - 200px);
  max-width: 600px;
  background-color: #eaf6f1;
  border: 2px solid #69c8c3;
  border-radius: 30px;
  z-index: 40;
  color: #316d69;
  padding: 30px;
  font-family: Lovelace;
  @media screen and (max-width: 1000px) {
    left: calc(50% - 30vw);
  }
  @media screen and (max-width: 800px) {
    width: 80vw;
    left: calc(50% - 40vw);
  }
}

.chose-cart__flower {
  width: 100px;
  margin: 10px auto;
}

.chose-cart__flower img {
  width: 100%;
}

.chose-cart__modal .support-project__flex {
  margin: 10px 0px;
}

#chose-messenger {
  /* display: block; */
}

#details {
  /* display: block; */
}

.details__form {
  margin-top: 20px;
}

.details__input {
  padding: 2px;
  border-radius: 5px;
  border: 1px #000 solid;
  color: #000;
}

.details__input-name {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #909090;
}

.details__text {
  text-align: center;
}



.docs {
  display: block;
  text-decoration: underline;
  margin: 10px 0;
}

.opacity {
  opacity: 0;
}

.modal-active {
  display: block;
}

.red {
  color: #d25543;
}



.main .menu-itemm,
.start .menu-itemm,
.format .menu-itemm,
.price__button .menu-itemm {
  @media screen and (max-width:800px) {
    width: 200px;
    height: 60px;
    font-size: 16px;
    line-height: 17px;

  }
}